$main: #cc66cc;
$failure: #e60000;
$success: #49d049;
$information: #3333ff;
$warning: #e0dd00;
$background_main: #0d0d0d;
$background_inverted: #e6e6e6;
$text: #e6e6e6;
$text_inverted: #0d0d0d;

$font-poppins: "Poppins", "sans-serif";

$bp-xl: 1280px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
